{% extends 'cars/home_page.html' %}

{% block title %}
  {{ month.date }} - {{ block.super }}
{% endblock %}

{% block content %}
  <h2 class="mt-5">
    {{ month.date.month }}.{{ month.date.year }}
  </h2>
  <h3 class="mt-5">
    {{ "Car: " }}{{ month.car.title }}
  </h3><br>
  <p>
    {{ "Total income: " }}
    {{ month.total_income }}
  </p>
  <p>
    {{ "Total expenses: " }}
    {{ month.total_expenses }}
  </p>
  <p>
    {{ "Total amortization: " }}
    {{ month.total_amortization }}
  </p>
   <p>
    {{ "Total profit: " }}
    {{ month.total_profit }}
  </p>
  <h3>Days:<br></h3>
  {% for day in month.day_set.all %}
    <a href="{{ day.get_absolute_url }}">{{ day.date }}</a><br>
    <h6>Total by day:<br></h6>
      <p>
        {{ "Income: " }}
        {{ day.income }}
      </p>
      <p>
        {{ "Expenses: " }}
        {{ day.expenses }}
      </p>
  {% endfor %}
{% endblock %}
