<div class="card mb-4">
  <div class="card-header">
    {{ car.date_pub }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ car.title }}</h5>
    <h6 class="card-text">{{ 'Register date:' }}</h6>
    <p class="card-text">{{ car.register_date }}</p>

    <h6 class="card-text">{{ 'Total income:' }}</h6>
    <p class="card-text">{{ car.total_income }}</p>

    <h6 class="card-text">{{ 'Total expenses:' }}</h6>
    <p class="card-text">{{ car.total_expenses }}</p>
  </div>
  <div class="card-footer text-muted">
    Days:<br>
    {% for day in car.work_days.all %}
      <a href="{{ day.get_absolute_url }}">{{ day.date }}</a><br>
    {% endfor %}
  </div>
</div>
