<div class="card mb-4">
  <div class="card-header">
    {{ car.date_pub }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ car.title }}</h5>
    <h6 class="card-text">{{ 'Register date:' }}</h6>
    <p class="card-text">{{ car.register_date }}</p>

    <h6 class="card-text">{{ 'Total income:' }}</h6>
    <p class="card-text">{{ car.total_income }}</p>

    <h6 class="card-text">{{ 'Total expenses:' }}</h6>
    <p class="card-text">{{ car.total_expenses }}</p>
  </div>
  <div class="card-body">
    <a href="{{ car.get_absolute_url }}" class="btn btn-light">Detail</a>
  </div>
  <div class="card-footer text-muted">
    Months:<br>
    {% for month in car.month_set.all %}
      <a href="{{ month.get_absolute_url }}">{{ month.date.year }} -
        {{ month.date.month }}</a><br>
    {% endfor %}
  </div>
</div>
