<div class="card mb-4">
  <div class="card-header">
    {{ day.date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ 'Total income' }}</h5>
    <p class="card-text">{{ day.total_income }}</p>
    <h5 class="card-title">{{ 'Total expenses' }}</h5>
    <p class="card-text">{{ day.total_expenses }}</p>
  </div>
  <div class="card-footer text-muted">
    <div class="card-body">
      <a href="{{ day.get_absolute_url }}" class="btn btn-dark">Detail</a>
    </div>
    <h3>Cars:</h3>
    {% for car in day.data.all %}
      <h3>{{ car.title }}</h3><br>
      <a>{{ 'Car income:' }}<br>{{ car.income }}</a><br>
      <a>{{'Car expenses:'}}<br>{{ car.expenses }}</a><br>
      <br>
    {% endfor %}
  </div>
</div>
